<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="Renew">
        <classes>
              <!-- <class name="base.RenewPasswordLoginTest"/> -->
        </classes>
    </test>
   <test name="AllTests">
        <classes>
            <class name="base.LoginTest"/>
            <class name="ViewCare.ViewCareTest"/>
            <class name="ViewCare.SalesPointTest"/>
            <class name="ViewCare.EnterSalesPointTest"/>
            <class name="ViewCare.EnterControllerTest"/>
            <!--<class name="ViewCare.ValidateControllerRemoteAccessTest"/>  -->
             <!--  <class name="ViewCare.ValidateControllerInformationTest"/>  -->
             <!--  <class name="ViewCare.ControllerTimeActionsTest"/>  -->
              <class name="ViewCare.ControllerUserActionsTest"/>
            <class name="ViewCare.EnterPGDMTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->
<!-- 
  <test thread-count="5" name="Test">
    <classes>
      <class name=".DefaultTesting"/>
    </classes>
  </test> 
 -->
 
